{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="content">Edit Comment</label>
            <textarea class="form-control" name="content" id="content"
                      rows="10">{{ form.content.data or '' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>

        <input type="text" id="word">
        <button type="button" class="btn btn-primary" onclick="openDictionary()">Search</button>

    </form>
</div>

<script>
    var inputWord = document.querySelector("#word");
    function openDictionary() {
        var newWin = window.open("https://dict.naver.com/enendict/english/#/search?query=" + inputWord.value, "", "left=600, top=0, width=500, height=600");
        if (newWin == null) {
            alert("팝업이 차단되어 있습니다. 팝업 차단을 해제하고 새로고침해 주세요.");
        }
        window.onload = openDictionary;
        document.querySelector("#word").value = "";
    }
</script>

{% endblock %}
